
body {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: #e8edf3;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.main-content {
    margin-left: 200px;
    padding: 80px 20px; 
}

#h1{
    font-family: cursive;
    
}

.container{
    width: 85%;
    height: 200%;
    text-align: center;
    color:#1d1d1e;
    margin-bottom: auto;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}


table th:first-child,
table td:first-child {
      border-left: none; 
  }

  table th:last-child,
  table td:last-child {
      border-right: none; 
  }



.form-container {
    width: 80%;
    background-color: #ffffff;
    color:#333;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    margin-bottom: auto;
}
  
input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 3px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
      
.text{
    font-size: 1.5rem;
}

.add-button,
.edit-button {  
    float: right;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: #2892a7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}